<%- include('../../fragment/header.ejs') %>
    <main>
    <h2><%= pageTitle %></h2>
        <form class="form" method="post" action="<%= formAction %>"  novalidate>
            <input type="hidden" name="_id" value="<%= mainMod._id %>">
            <label for="modify_model-name">
                Name:<span class="mandatory_field">*</span>
                <input name="name" class="modify_model-name" type="text" placeholder="1-60 characters" value="<%= mainMod.name %>">
                <div id="name_error" class="error_msg">
                    <% if (validationErrors.find(e => e.path.includes('name'))) { %>
                        <%= validationErrors.find(e => e.path.includes('name')).message %>
                    <% } %>
                </div>
            </label>
            <label for="modify_model-manufacturer">
                Manufacturer:<span class="mandatory_field">*</span>
                <select name="man_id" id="add_manufacurer">
                    <%
                    for (let man of allMans) { %>
                            <option value="<%= man._id %>"><%= man.name %></option>
                        <% } %>
                    }
                %>
                </select>
                <div id="manufacturer-id_error" class="error_msg"></div>
            </label>
            <label for="modify_model-generation">
                Generation:<span class="mandatory_field">*</span>
                <input name="generation" class="modify_model-generation" type="number" value="<%= mainMod.generation %>">
                <div id="generation_error" class="error_msg">
                    <% if (validationErrors.find(e => e.path.includes('generation'))) { %>
                        <%= validationErrors.find(e => e.path.includes('generation')).message %>
                    <% } %>
                </div>
            </label>
            <div class="form_buttons">
                <input class="form_button" id="form_button_modify" type="submit" value="<%= btnLabel %>">
            </div>
        </form>
    <div id="model-add-row_submit" class="submit_msg"></div>
</main>
<%- include('../../fragment/footer.ejs') %>